<nav aria-label="breadcrumb" class="mt-1">
  <ol class="breadcrumb">
    <li class="breadcrumb-item">
      <a routerLink="/">Home</a>
    </li>
    <li class="breadcrumb-item active">Dashboard</li>
  </ol>
</nav>
<h5>Dashboard</h5>
<h6>{{ToDay | date:'mediumDate'}}</h6>
<div class="row">
  <div class="col-lg-3 pb-3" style="background-color: #e9e6e6;">
    <div class="row" style="justify-content: center;">
      <h5 class="col-11 text-white text-center mx-2 mt-2 rounded py-2 font-weight-bold"
        style="font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; background-color: #a39e9e;">
        {{Designation}}
      </h5>
      <div class="col-12 text-center mt-2">
        <img src="assets/img/user.webp" alt="user logo" width="120px">
      </div>
      <h6 class="text-center py-2 font-weight-bold" style="font-family:Verdana, Geneva, Tahoma, sans-serif;">
        {{Username}}
      </h6>
      <h5 class="text-center py-2 font-weight-bold" style="font-family: Arial, Helvetica, sans-serif;">
        Team Summary
      </h5>
      <div class="col-12 mb-3">
        <ul class="list-group">
          <li class="list-group-item d-flex justify-content-between align-items-center">
            No. Of Team Members
            <span class="badge bg-secondary badge-pill" style="font-size: 13px;">
              {{NoOfTeamMembers}}
            </span>
          </li>
          <li class="list-group-item d-flex justify-content-between align-items-center">
            Total Cost Of All Projects
            <span class="badge bg-secondary badge-pill" style="font-size: 13px;">
              ${{TotalCostOfAllProjects}}K
            </span>
          </li>
          <li class="list-group-item d-flex justify-content-between align-items-center">
            Pending Task
            <span class="badge bg-secondary badge-pill" style="font-size: 13px;">
              {{PendingTask}}
            </span>
          </li>
          <li class="list-group-item d-flex justify-content-between align-items-center">
            Upcoming Projects
            <span class="badge bg-secondary badge-pill" style="font-size: 13px;">
              {{UpComingProjects}}
            </span>
          </li>
          <li class="list-group-item d-flex justify-content-between align-items-center">
            No. Of Team Members
            <span class="badge bg-secondary badge-pill" style="font-size: 13px;">
              {{NoOfTeamMembers}}
            </span>
          </li>
        </ul>
      </div>
      <h5 class="text-center py-2 " style="font-family: Arial, Helvetica, sans-serif;">
        Clients
      </h5>
      <div class="col-12">
        <ul class="list-group list-group-flush">
          <li class="list-group-item" *ngFor="let client of Clients">{{client}}</li>
        </ul>
      </div>
    </div>
  </div>
  <div class="col-lg-6">
    <div class="row">
      <div class="col-12 py-2" style="background-color: #e9e6e6;">
        <div class="row">
          <div class="col-6 text-start">
            <div class="dropdown">
              <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1"
                data-bs-toggle="dropdown" aria-expanded="false">
                Project A
              </button>
              <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                <li><a class="dropdown-item" href="#" *ngFor="let project of Projects" onclick="return false"
                    (click)="ProjectCostFunc($event)">{{project}}</a></li>
              </ul>
            </div>
          </div>
          <div class="col-6 text-end">
            <div class="dropdown">
              <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1"
                data-bs-toggle="dropdown" aria-expanded="false">
                2019
              </button>
              <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                <li>
                  <a class="dropdown-item" href="#" *ngFor="let year of Years">
                    <ng-container [ngSwitch]="year">
                      <ng-container *ngSwitchCase="'2019'">
                        <span style="color: green;">{{year}}</span>
                      </ng-container>
                      <ng-container *ngSwitchCase="'2018'">
                        <span style="color: yellow;">{{year}}</span>
                      </ng-container>
                      <ng-container *ngSwitchCase="'2017'">
                        <span style="color: blue;">{{year}}</span>
                      </ng-container>
                      <ng-container *ngSwitchDefault>
                        {{year}}
                      </ng-container>
                    </ng-container>
                  </a>
                  
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <h5 class=" col-11 mx-auto mt-2 text-center text-white py-2 rounded font-weight-bold"
        style="background-color: #718d97; font-family: Arial, Helvetica, sans-serif;">
        Project Briefing
      </h5>
      <div class="col-12">
        <table class="table">
          <tbody>
            <tr>
              <td>Project Cost</td>
              <td>{{ProjectCost | currency :'USD'}}</td>
            </tr>
            <tr>
              <td>Current Expenditure</td>
              <td>{{CurrentExpenditure | currency :'USD'}}</td>
            </tr>
            <tr>
              <td>Avialable Fund</td>
              <td>{{AvailableFunds | currency : 'USD'}}</td>
            </tr>
          </tbody>
        </table>
      </div>
      <h5 class="col-11 mx-auto mt-1 text-center text-white py-2 rounded font-weight-bold"
        style="background-color: #718d97; font-family: Arial, Helvetica, sans-serif;">
        Team Members Summary
      </h5>
      <div class="col-12">
        <table class="table">
          <thead>
            <tr>
              <th scope="col">Region</th>
              <th scope="col">Team Members Count</th>
              <th scope="col">Temporarily Unavilable Members</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let teamsummry of TeamMembersSummary">
              <td><b>{{teamsummry.region}}</b></td>
              <td>{{teamsummry.teamMembersCount}}</td>
              <td>{{teamsummry.temporarilyUnavaailablemembers}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="col-lg-3" style="background-color: #e9e6e6;">
    <div class="row">
      <h5 class="col-11 mx-auto text-center text-white mt-2 py-2 rounded font-weight-bold"
        style="background-color: #718d97; font-family: Arial, Helvetica, sans-serif;">
        Team Members
      </h5>
      <div class="col-lg-12">
        <div class="accordion" id="accordionExample">
          <div class="accordion-item" *ngFor="let teamMember of TeamMembers; let i = index">
            <h2 class="accordion-header" style="background-color: var(--bs-gray);" id="headingOne">
              <button class="accordion-button" type="button" data-bs-toggle="collapse"
                [attr.data-bs-target]="'#cardbody'+ i" aria-expanded="true">
                {{teamMember.Region}}
              </button>
            </h2>
            <div [id]="'cardbody'+ i" class="accordion-collapse collapse" [ngClass]="(i == 0 ? 'show': '')"
              aria-labelledby="headingOne" data-bs-parent="#accordionExample">
              <div class="accordion-body">
                <div *ngIf="i==0; then firstTemplate; else secondTemplate">

                </div>

                <ng-template #firstTemplate>
                  <div class="card" *ngFor="let Members of teamMember.Members">
                    <div class="ccard-header bg-primary text-white">
                      #{{Members.ID}} {{Members.Name}}
                    </div>
                    <div class="card-body">
                      {{Members.Status}}
                    </div>
                  </div>
                </ng-template>

                <ng-template #secondTemplate>
                  <table class="table">
                    <thead>
                      <tr>
                        <th>Id</th>
                        <th>Name</th>
                        <th>Status</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let Members of teamMember.Members">
                        <td>{{Members.ID}}</td>
                        <td>{{Members.Name}}</td>
                        <td [style.color]="(Members.Status == 'Busy'? 'red':'balck')">{{Members.Status}}</td>
                      </tr>
                    </tbody>
                  </table>
                </ng-template>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>