<nav aria-label="breadcrumb" class="mt-1">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a routerLink="/">Home</a>
        </li>
        <li class="breadcrumb-item active">Dashboard</li>
    </ol>
</nav>
<h5>Dashboard</h5>

<div class="row">
    <div class="col-lg-3 pb-3" style="background-color: #e9e6e6;">
        <div class="row" style="justify-content: center;">
            <h5 class="col-11 text-white text-center mx-2 rounded py-2 font-weight-bold"
                style="font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; background-color: #a39e9e;">
                {{Designation}}
            </h5>
            <div class="col-12 text-center mt-2">
                <img src="assets/img/user.webp" alt="user logo" width="120px">
            </div>
            <h6 class="text-center py-2 font-weight-bold" style="font-family:Verdana, Geneva, Tahoma, sans-serif;">
                {{Username}}
            </h6>
            <h5 class="text-center py-2 font-weight-bold" style="font-family: Arial, Helvetica, sans-serif;">
                Team Summary
            </h5>
            <div class="col-12 mb-3">
                <ul class="list-group">
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        No. Of Team Members
                        <span class="badge bg-secondary badge-pill" style="font-size: 13px;">
                            {{NoOfTeamMembers}}
                        </span>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        Total Cost Of All Projects
                        <span class="badge bg-secondary badge-pill" style="font-size: 13px;">
                            ${{TotalCostOfAllProjects}}K
                        </span>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        Pending Task
                        <span class="badge bg-secondary badge-pill" style="font-size: 13px;">
                            {{PendingTask}}
                        </span>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        Upcoming Projects
                        <span class="badge bg-secondary badge-pill" style="font-size: 13px;">
                            {{UpComingProjects}}
                        </span>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        No. Of Team Members
                        <span class="badge bg-secondary badge-pill" style="font-size: 13px;">
                            {{NoOfTeamMembers}}
                        </span>
                    </li>
                </ul>
            </div>
            <h5 class="text-center py-2 " style="font-family: Arial, Helvetica, sans-serif;">
                Clients
            </h5>
            <div class="col-12">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Abc infotech</li>
                    <li class="list-group-item">Rahul infotech</li>
                    <li class="list-group-item">Karan infotech</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="col-lg-6">
        <div class="row">
            <div class="col-12 py-2" style="background-color: #e9e6e6;">
                <div class="row mt-2">
                    <div class="col-6 text-start">
                        <div class="dropdown">
                            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1"
                                data-bs-toggle="dropdown" aria-expanded="false">
                                Dropdown button
                            </button>
                            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                                <li><a class="dropdown-item" href="#">Action</a></li>
                                <li><a class="dropdown-item" href="#">Another action</a></li>
                                <li><a class="dropdown-item" href="#">Something else here</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-6 text-end">
                        <div class="dropdown">
                            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1"
                                data-bs-toggle="dropdown" aria-expanded="false">
                                Dropdown button
                            </button>
                            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                                <li><a class="dropdown-item" href="#">Action</a></li>
                                <li><a class="dropdown-item" href="#">Another action</a></li>
                                <li><a class="dropdown-item" href="#">Something else here</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3">box3</div>
</div>